.gradient-custom-2 {
    /* fallback for old browsers */
    background: gray;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #A8A8A8, #B1B1B1, #B9B9B9, #C2C2C2);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #A8A8A8, #B1B1B1, #B9B9B9, #C2C2C2);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .h-custom {
    height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
#footer-info {
    text-align: center;
    font-size: small;
    padding-top: 230px;
    padding-left: 25px;
}

#paragraph-content {
    position: sticky;
}

.content {
  padding-top: 15px;
}

.btn.btn-primary {
    background-color: black;
}
.btn.btn-primary.btn-block {
    background-color: transparent !important;
    color: black !important;
}
.leftmost-container {
    margin-top: 75px;
}
#login-btn {
    border: 1px solid black;
}
#rightmost-section {
    margin-top: 183px;
    align-items: center;
}

#Sign-in {
    padding-left: 6px;
} 

#Or {
    padding-top: 12px;
    padding-bottom: 12px;
}

#Create-acct {
    padding-top: 70px;
}
.circle-btn {
    color: white;
}
#circle-socials {
    color:black;
}
